.dataflow-viz-container {
  width: 100%;
  height: 500px;
  position: relative;
  background: #fff;
  margin: 6rem 0;
  overflow: hidden;
}

.dataflow-viz-canvas {
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width: 768px) {
  .dataflow-viz-container {
    height: 300px;
    margin: 3rem 0;
  }
}

